@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: rgb(0, 0, 0);
}

.Home {
  width: 100%;
  height: 150vh;


}


.MainContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;


  width: 100%;
  height: 80vh;
  background-color: black;



}


.bgImg {

  width: 100%;

  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.logo-tel {

  width: fit-content;
  height: fit-content;


}

.company-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.tel-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;


  color: white;
  width: 100%;

  font-size: 3vw;
}

.tel-div a {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.phone-icon{
  font-size: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fdfdfd;
}

/* ------------------About-------------*/

.about {
  width: 100%;
  height: fit-content;
  background: linear-gradient(0deg,rgb(0, 0, 0) 50%,rgb(86, 86, 86) ); 

}

.About-Us {
  width: 40%;
  padding: 12px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 10px;
  text-align: center;

}

.About-Us h1 {
  /* text-shadow: -1px -1px 5px rgb(42, 141, 168); */
  color: rgb(255, 255, 255);
  font-size: 3vw;


  font-family: sans-serif;
  font-style: oblique;
  font-weight: 600;
}

.About-Us h3 {
  color: rgb(255, 255, 255);
  font-size: 1.5vw;
  font-family: sans-serif;
  font-style: oblique;

}

.About-Us h2 {
  color: rgb(255, 255, 255);
  font-size: 1.5vw;
  font-family: sans-serif;
  font-style: oblique;

}

.about-video {
  width: 100%;

}

.location {
  width: 60%;

}

.AboutUs-image {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

/* -------------------fb-section---------------- */

.fb-section {

  color: rgb(255, 255, 255);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 25vh;
}

.fb-section h1 {
  font-size: 2.5vw;

  font-family: sans-serif;
  font-style: oblique;
  font-weight: 600;
}


.fb-icon-home {
  font-size: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0165E1;
}


/* -------------------copyright-section----------- */
.copyRight-section {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  
  color: white;
}

.copyRight-section h1 {
  font-size: 1vw;
}

.copyRight-Icon {
  font-size: 1vw;
}



@media all and (max-width:912px) {

  .Home {
    width: 100%;
    height: fit-content;

  }
  .MainContent {
    height: 30vh;
  }

  .about {
    width: 100%;
    height: fit-content;
    flex-direction: column;

  }

  .about video {
    width: 100%;
  }

  .about-video {
    justify-content: center;
    align-items: center;

  }


  .AboutUs-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;

  }

  .location {
    width: 80%;
    border-radius: 15px;
    padding: 10px;
  }

  .About-Us {
    width: 80%;
    padding: 12px;

  }

  .About-Us h1 {
    font-size: 5vw;
  }

  .About-Us h2 {
    font-size: 4vw;
  }

  .About-Us h3 {
    font-size: 4vw;
  }

  .copyRight-section h1 {
    font-size: 3vw;
  }

  .copyRight-Icon {
    font-size: 3vw;
  }

  .fb-section {

    height: 15vh;

  }

  .fb-section h1 {
    font-size: 5vw;

  }

  .fb-icon-home {
    font-size: 8vw;

  }

  .Logobg{
    width: fit-content;
  }

}