.footer{
    background-color: rgb(0, 0, 0);
    bottom: 0;
    width: 100%;
    color: white;
    height: 25vh;

    
    display: flex;
    flex-direction: row;
    justify-content: center;
 
/* 
   z-index: 7; */
    gap: 80px;
}

.footer h1{

  font-size: 30px;

}

.BusinessHours ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    justify-items: left;
    box-sizing: border-box;
}